{% extends "loadfile_app/base.html" %}


{% block header %}
  <h2>
     Задание
  </h2>
{% endblock header %}


{% block content %}

    <h4>
        Создать веб-приложение (сайт):
    </h4>
    <ol>
        <li>На главной странице кнока "Выбрать файл" и "Загрузить файл"</li>
        <li>После загрузки файла пользователем на сервер должно появиться
            поле ввода текста и кнопка "Найти"</li>
        <li>В поле ввода текста пользователь может ввести набор байтов
            (подстроку), все вхождения которой сайт <br> должен отобразить
            после нажатия кнопки "Найти".</li>
        <li>Подстрока в поле ввода текста пользователем вводится в формате
            шестандцатиричных чисел, <br> разделенных пробелом или запятой и
            знаками "?", например  A1 F0 17 3E ? 19 При этом знаки "?"<br>
            соответствуют любому байту.</li>
        <li>Сайт должен отобразить все адреса вхождения подстроки-шаблона
            в загруженном файле.</li>
    </ol>

    <br>
    <h4>Решение</h4>
    <p>Ограничение по размеру загружаемого файла установлено 10Мб,<br>
       валидация содержимого строки поиска не проводиться, так как<br>
       это не входило в задачу, поиск осуществляется последовательным<br>
       просмотром содержимого на совпадение по заданному шаблону,<br>
       при размере файла до 2Мб файл читается в одну строку, всыше -<br>
       проиводится побайтное чтение, файл по окончании поиска удалятеся<br>
	   Админ логин adm_ldfl пароль TestFile
    </p>

{% endblock content %}

